:root {
  --pink_bg: #f5eadb;
  --brown_bg: #957e71;
  --pink-text: #b67c7b;
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

/********Custom Scrollbar********************************/
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--brown_bg) !important;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

/********Custom Scrollbar Ends********************************/

/*********************Global Styles************************************************/
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: "Manrope", sans-serif !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

/* ------------------Global Styles End-------------------------- */
/*------------------Pre-Loader---------------------------*/
.loader_hide {
  display: none !important;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #222;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*------------------Pre-Loader Ends---------------------------*/

/*--------------------Hero Section Starts---------------------------*/
header {
  background: no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  color: white;
  /* max-width: 1200px; */
  background-attachment: fixed;
}

.color_overlay {
  min-height: 100vh;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content_wrapper {
  min-height: 50vh;
  padding-top: 10rem;
}

.logo_wrapper img {
  height: 120px;
  width: auto;
  padding: 1em;
  background-color: rgba(169, 117, 116, 0.9);
  border-radius: 15px;
}

/*############navbar#########*/
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  border: none !;
}

@media (min-width: 640px) {
  .hamburger {
    display: none !important;
  }
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.nav_close_btn_wrapper {
  position: absolute;
  top: 10px;
  right: 15px;
}

.nav_close_btn_wrapper button {
  background: transparent !important;
  cursor: pointer !important;
}

.nav_close_btn img {
  height: 2.5rem;
  width: auto;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgba(169, 117, 116, 0.9);
  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: var(--pink_bg);
  color: #222;
  font-weight: 600;
}

#contrast_link {
  background-color: transparent;
  border: 1px solid var(--pink_bg);
  color: var(--pink_bg);
}

@media (min-width: 768px) {
  /* .mobile-nav {
    display: none;
  } */

  .hamburger {
    display: block;
  }
}

.mobile_logo span {
  font-weight: light;
  font-size: large;
}

.mobile_logo span svg {
  fill: #fff;
  height: 25px;
  width: auto;
  margin: 0 0.2rem;
}

.navbar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: 0.2s ease;
  &.is_scrolling {
    /* background-color: rgba(255, 255, 255, 0.01); */
    backdrop-filter: blur(15px);
    background-color: black;
  }
}

.navbar_wrapper nav {
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is_scrolling nav {
  padding: 1em 3em;
}

.navbar_wrapper nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navbar_wrapper nav ul li {
  cursor: pointer;
}

.navbar_wrapper nav ul li a {
  text-decoration: none !important;
  position: relative;
  color: #fff;
  /* font-size: 12px; */
}

.navbar_wrapper nav ul li a::after {
  content: "";
  height: 2px;
  width: 0%;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
}

.navbar_wrapper nav ul li a:hover::after {
  opacity: 1;
  text-decoration: none;
  width: 100%;
  transition: all 0.3s;
}

.navbar_wrapper nav img {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.split_section {
  margin: 1rem 0em;
  position: relative;
  color: #666;
  padding-left: 0rem;
  &:before,
  &:after {
    content: "";
    width: 150px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
  }
  &:before {
    left: 60px;
  }
  &:after {
    left: -160px;
  }
}

.hero_desc_section {
  font-size: 12px;
  margin: 0 auto;
  max-width: 70%;
  text-align: justify;
}

/*--------------------Hero Section Ends---------------------------*/

/*----------------Offer Section---------------------------------*/
.offer_section {
  background-color: var(--pink_bg);
  /* min-height: 50vh; */
  height: auto;
}

.offer_section_wrapper {
  padding-bottom: 4rem;
  height: 100%;
}

.offer_section_wrapper .offer_section_header {
  margin-top: 4rem;
  /* margin-bottom: 1rem; */
}

.offer_section_header h1 {
  font-weight: lighter;
  color: var(--pink-text);
  margin: 0 !important;
}

.split_section_small_pink {
  margin: 0rem 0em;
  position: relative;
  color: #666;
  /* padding-left: 0rem; */
  &:before,
  &:after {
    content: "";
    width: 100px;
    height: 1.5px;
    background: var(--pink-text);
    position: absolute;
    top: 50%;
  }
  &:before {
    left: 40px;
  }
  &:after {
    left: -105px;
  }
}

.split_section_small_white {
  margin: 0rem 0em;
  position: relative;
  color: #666;
  /* padding-left: 0rem; */
  &:before,
  &:after {
    content: "";
    width: 100px;
    height: 1.5px;
    background: #ffffff;
    position: absolute;
    top: 50%;
  }
  &:before {
    left: 40px;
  }
  &:after {
    left: -105px;
  }
}

.offer_section_box {
  color: var(--pink-text);
}

.offer_section_box_wrapper {
  width: 70%;
  padding: 1rem;
}

@media (max-width: 760px) {
  .offer_section_box_wrapper {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 640px) {
  .offer_section_box {
    margin: 0.5rem 0rem !important;
  }
}

.offer_section_box .offer_section_svg svg {
  fill: var(--pink-text);
  height: 4em;
  width: auto;
}

.offer_section_box_title {
  padding: 0.2rem 0em;
  font-weight: 600;
  font-size: small;
}

.offer_section_box_desc {
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-size: small;
}

/*----------------Offer Section Ends---------------------------------*/

/*-----------history section----------*/
.history_section {
  min-height: 60vh;
  background-color: var(--brown_bg);
}

.history_section .carousel_box {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.history_section .carousel_box .row {
  width: 100%;
  height: 100%;
}

.history_section_header {
  text-align: center;
  width: 70%;
  padding-top: 2rem;
}

.history_section_header h1 {
  font-weight: lighter;
  color: #ffffff;
  margin: 0 !important;
}

@media (max-width: 640px) {
  .history_section_header h1 {
    font-size: 28px;
  }
}

.history_image_wrapper {
  width: 50%;
  height: auto;
  border: 2px solid #fff;
}

/* @media screen and (max-width: 1024px) and (min-width: 700px) {
  .history_image_wrapper {
    width: 100%;
  }
} */

.history_desc_wrapper {
  width: 80%;
  padding: 1rem;
  color: #fff;
  font-size: small;
  font-weight: lighter;
  text-align: justify;
}

@media (max-width: 640px) {
  .history_desc_wrapper {
    width: 90%;
  }
}

/*-----------history section ends----------*/

/*------customer fav section-----------------*/
.customer_fav_section {
  min-height: 50vh;
  background-color: var(--pink_bg);
  padding: 3rem 0rem;
}

.customer_fav_section_wrapper {
  padding: 1rem;
}

.food_item_section {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.food_item {
  position: relative;
  background-color: var(--white);
  color: white;
  padding: 1rem;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: no-repeat center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden !important;
}

.food_label {
  position: absolute;
  background-color: #000000;
  padding: 0.5rem;
  font-size: small;
  top: 0;
  left: 0;
  border-radius: 0px 0px 8px 0px;
}

/*------customer fav section ends-----------------*/

/*-----------Big Carousal Section----------*/

.big_carousal_wrapper {
  background: no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.big_carousel_caption_title p {
  font-weight: 100 !important;
  font-size: 1.5rem;
}

.big_carousel_caption_desc {
  font-size: small;
  font-weight: 100 !important;
  text-align: justify;
  padding: 0rem 2rem;
}

.big_carousal_fixed_width_desc {
  width: 50%;
}

.newsletter_section {
  width: 100% !important;
  max-width: 100%;
}

.newsletter_section input {
  height: 35px;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: small;
}

.newsletter_section button {
  border: none;
  outline: none;
  background-color: #222;
  color: #ffffff;
  height: 35px;
  width: 100px;
  font-size: small;
  cursor: pointer;
}

@media (max-width: 640px) {
  .big_carousal_fixed_width_desc {
    width: 80%;
  }
}

/*-----------Big Carousal Section ends----------*/

/*-----------Achievement Section ----------*/
.achievement_section {
  /* min-height: 50vh; */
  background-color: var(--brown_bg);
  overflow-x: hidden;
  padding-bottom: 2rem;
}

.achievement_section_box {
  text-align: center;
  padding: 1rem;
}

.achievement_section_box_stat {
  font-size: 2rem;
  color: #fff;
}
.achievement_section_box_title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: lighter !important;
  margin: 0.5rem 0rem;
}

.achievement_section_box_desc {
  font-size: small;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  width: fit-content;
}

/*-----------Achievement Section ends----------*/
/*--------------Focus Carousel Section ---------------------*/

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.swiper_container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 2rem 0;
}

@media (max-width: 1440px) {
  #tranding {
    padding: 2rem 0;
  }
}

#tranding .tranding-slider {
  height: 42rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  #tranding .tranding-slider {
    height: 35rem;
  }
}

.tranding-slide {
  width: 20rem;
  height: auto;
  position: relative;
}

.tranding-slide-img {
  position: relative;
}

.location_label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  color: var(--white);
  font-size: small;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.location_find_button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #000000;
  padding: 0.5rem 1rem;
  color: var(--white);
  font-size: large;
  border-radius: 8px;
  text-decoration: none !important;
  &:hover {
    color: var(--white);
  }
}

@media (max-width: 500px) {
  .tranding-slide {
    width: auto !important;
    height: 25rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: auto !important;
    height: 25rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
/*--------------Focus Carousel Section ends---------------------*/

/*-------------Footer section---------*/
.footer_section {
  background: no-repeat center center;
  background-size: cover;
  min-height: 60vh;
  color: white;

  /* max-width: 1200px; */
}

.footer_section_wrapper {
  padding: 1rem;
}

.small_nav_links {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0rem;
  width: 100%;
}

.small_nav_links a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: small;
  font-weight: normal;
  &:hover {
    color: #fff;
  }
}

@media (max-width: 640px) {
  .small_nav_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.small_social_links {
  display: flex;
  gap: 10;
  flex-wrap: wrap;
}

.small_social_links a {
  text-decoration: none;
  padding: 1rem;

  &:hover {
    color: goldenrod;
  }
}

.footer_section_title h6 {
  font-weight: normal;
  font-size: 1.5rem;
}

.footer_section_desc {
  font-size: small;
  width: 70%;
}

.contact_details_section {
  font-size: small !important;
}

.footer_section_title h6 {
  position: relative;
}

.footer_section_title h6::after {
  content: "";
  height: 2px;
  width: 100%;
  background: goldenrod;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 1;
}

.coffee_mug_wrapper img {
  height: 15em;
  width: auto;
}

.bottom_footer {
  font-size: smaller;
}

/*-------------Footer section ends---------*/

/*----------- global ---------------*/
.white_beans_logo svg {
  fill: #ffffff;
  height: 50px;
  width: 50px;
}
.white_beans_logo_small svg {
  fill: #ffffff;
  height: 35px;
  width: 35px;
}
.color_beans_logo svg {
  fill: var(--pink-text);
  height: 35px;
  width: 35px;
}

.text_white {
  color: #ffffff !important;
}

/* pinkish--->#F6EADC */
/* browninsh--->#957D71 */

@media (max-width: 640px) {
  /* html {
    font-size: 10px;
  } */
  .hide_on_phone {
    display: none;
  }
}

.title_text_white h1 {
  color: #ffffff !important;
}

.font_small {
  font-size: small !important;
}

.font_larger {
  font-size: larger !important;
}
